In [6]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [7]:
df = pd.read_csv('train.csv', usecols=['Age','Pclass', 'Fare', 'Survived'])

In [8]:
df.sample(10)

     Survived  Pclass   Age     Fare
125         1       3  12.0  11.2417
672         0       2  70.0  10.5000
853         1       1  16.0  39.4000
842         1       1  30.0  31.0000
595         0       3  36.0  24.1500
673         1       2  31.0  13.0000
694         0       1  60.0  26.5500
185         0       1   NaN  50.0000
567         0       3  29.0  21.0750
4           0       3  35.0   8.0500

In [9]:
df.isnull().sum()

Survived      0
Pclass        0
Age         177
Fare          0
dtype: int64

In [11]:
X = df.drop(columns=['Survived'])
y = df['Survived']

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [14]:
X_train.sample(10)

     Pclass   Age      Fare
815       1   NaN    0.0000
348       3   3.0   15.9000
763       1  36.0  120.0000
401       3  26.0    8.0500
567       3  29.0   21.0750
648       3   NaN    7.5500
92        1  46.0   61.1750
9         2  14.0   30.0708
452       1  30.0   27.7500
68        3  17.0    7.9250

# Using KNN Imputer

In [15]:
from sklearn.impute import KNNImputer

In [37]:
knn = KNNImputer(n_neighbors=5)

X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)

In [38]:
lr = LogisticRegression()
lr.fit(X_train_trf, y_train)
y_pred = lr.predict(X_test_trf)
accuracy = accuracy_score(y_test, y_pred)

accuracy

0.7430167597765364

# Imputing Mean value using Simple Imputer

In [39]:
from sklearn.impute import SimpleImputer

In [40]:
# Comparision with ssimpleImputer --> Mean
si = SimpleImputer()

X_train_trf2 = si.fit_transform(X_train)
X_test_trf2 = si.transform(X_test)

In [41]:
lr = LogisticRegression()

lr.fit(X_train_trf2, y_train)

y_pred2 = lr.predict(X_test_trf2)

accuracy_score(y_test, y_pred2)

0.7374301675977654